@{
    ViewBag.Title = "系统资源列表";
}

@section head
{
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css"></link>
}
<div class="main-title">
    <span class="main-title-icon"></span> <span class="main-title-text">以下是您能访问的系统：</span>
</div>
<div class="main-content" ng-controller="AppListController">
    <a ng-href="{{app.Url}}" class="system-item" ng-repeat="app in appList">
        <span class="system-item-name">{{app.Name}}</span>
        <span class="system-item-desc">{{app.Description || app.Name}}</span>
    </a>
</div>