@{
    ViewBag.Title = "系统资源列表";
}

<div class="jumbotron">
    <h1>以下是您所能访问的系统:</h1>
</div>

<div class="row">
    <div class="col-md-12" ng-controller="AppListController">
        <div class="list-group">
            <a ng-href="{{app.Url}}" class="list-group-item" ng-repeat="app in appList">
                <h4 class="list-group-item-heading" ng-bind="app.Name"></h4>
                <p class="list-group-item-text" ng-bind="app.Description || app.Name"></p>
            </a>
        </div>
    </div>
</div>