@using UOKO.SSO.Models
@{
    ViewBag.Title = "系统资源列表";

    var appList = ViewBag.AppList as IEnumerable<AppInfo> ?? new List<AppInfo>();
}

@section head
{
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
}

<div class="main-title">
    <span class="main-title-icon"></span> <span class="main-title-text">以下是您能访问的系统：</span>
</div>
<div class="main-content">
    @{
        foreach (var app in appList)
        {
            <a href="@app.Url" class="system-item">
                <span class="system-item-name">@app.Name</span>
                <span class="system-item-desc">@(app.Description ?? app.Name)</span>
            </a>
        }
    }
</div>