<?xml version="1.0" encoding="utf-8"?>
<MessageQueueCluster majorVersion="1" minorVersion="10">
  <MessageServer address="FormatName:DIRECT=TCP:192.168.200.26" status="Enable">
    <QueuePath label="ErrorInfo" status="Enable" serial="Protobuf" tran="false"><![CDATA[\private$\errormq]]></QueuePath>
    <QueuePath label="TraceInfo" status="Enable" serial="Protobuf" tran="false"><![CDATA[\private$\tracemq]]></QueuePath>
    <QueuePath label="ErrorDst" status="Enable" serial="Protobuf" tran="false"><![CDATA[\private$\error_dst01]]></QueuePath>
    <QueuePath label="TraceDst" status="Enable" serial="Protobuf" tran="false"><![CDATA[\private$\trace_dst01]]></QueuePath>
  </MessageServer>
</MessageQueueCluster>