
<div class="main-title">
    <span class="main-title-zh">登录</span> <span class="main-title-en">LOGIN</span>
</div>
<form class="main-form" method="post" action="{{model.loginUrl}}">
    <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
    <div class="main-form-error" ng-show="model.errorMessage" ng-bind="model.errorMessage">
    </div>
    <div class="main-form-ctrl main-form-ctrl-blur main-form-ctrl-user">
        <div class="main-form-input-icon user-icon user-icon-blur"></div>
        <input class="main-form-input-text" required type="text"  id="username" name="username" autofocus ng-model="model.username" maxlength="100" placeholder="用户名"/>
    </div>
    <div class="main-form-ctrl main-form-ctrl-blur main-form-ctrl-pwd">
        <div class="main-form-input-icon pwd-icon pwd-icon-blur"></div>
        <input class="main-form-input-pwd" required type="password" id="password" name="password" ng-model="model.password" maxlength="100" autocomplete="off" placeholder="密码"/>
    </div>
    <input class="main-form-button" value="登录" type="submit" ng-disabled="form.$invalid"/>
    <div class="main-form-saving" ng-show="model.allowRememberMe">
        <label>
            <input class="main-form-saving-checkbox" type="checkbox" id="rememberMe" name="rememberMe" ng-model="model.rememberMe" value="true"/>
            <span class="main-form-saving-text">记住登录</span>
        </label>
    </div>
    
</form>
