<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Framework内部实现类工厂配置-->
  <configSections>
    <section name="ConfigSettings" type="UOKO.Framework.Core.Configuration.ConfigSettings, UOKO.Framework" />
    <section name="LoggingProvider" type="UOKO.Framework.Core.Logging.LogProviderConfigurationSection,UOKO.Framework" />
    <section name="ConfigProvider" type="UOKO.Framework.Core.Configuration.ProviderConfigurationSection,UOKO.Framework" />
    <section name="FrameworkProvider" type="UOKO.Framework.Core.Configuration.FrameProviderConfigurationSection,UOKO.Framework" />
    <section name="CacheProvider" type="UOKO.Framework.Core.Caching.CacheProviderConfigurationSection,UOKO.Framework" />
  </configSections>

  <!--
		extensions:
			系统会先搜索扩展名为.config配置文件，然后再搜索扩展名为.xml配置文件
			Website.config / Website.xml 认为是同一个文件，优先匹配Website.config
	-->
  <ConfigSettings defaultProvider="XmlConfig">
    <providers>
      <add name="XmlConfig" type="UOKO.Framework.Core.Configuration.XmlConfig.XmlConfigSource, UOKO.Framework" />
      <add name="DotNetConfig" type="UOKO.Framework.Core.Configuration.DotNetConfig.DotNetConfigSource, UOKO.Framework" />
      <add name="DataSetXmlConfig" type="UOKO.Framework.Core.Configuration.DataSetXmlConfig.DataSetXmlConfigSource, UOKO.Framework" />
    </providers>
  </ConfigSettings>
  
  <!--Log4net Provider程序 Logger封装实现类配置-->
  <LoggingProvider defaultProvider="Log4NetLogProvider">
    <providers>
      <add name="Log4NetLogProvider" type="UOKO.Framework.Core.Logging.Log4NetLogProvider" loggername="FileLogger" />
    </providers>
  </LoggingProvider>

  <ConfigProvider defaultProvider="XMLConfigProvider">
    <providers>
      <add name="XMLConfigProvider" type="UOKO.Framework.Core.Configuration.XMLConfigProvider" />
    </providers>
  </ConfigProvider>
  <!--CacheManager功能的实现配置-->
  <CacheProvider defaultProvider="AspNetCacheProvider">
    <providers>
      <add name="AspNetCacheProvider" type="UOKO.Framework.Core.Caching.AspNetCacheProvider" defaultExpireSeconds="300" keyPreFix="RdAspNet_" maximumElementsInCache="500" numberToRemoveWhenScavenging="5" />
    </providers>
  </CacheProvider>
  <!--Framework基础属性配置-->
  <FrameworkProvider defaultProvider="FrameProvider">
    <providers>
      <add key="FrameProvider" value ="UOKO.Framework.Provider" />
      <!--使用Framework提供的数据类，开启数据访问性能追踪-->
      <add key="EnableTrace" value="true" />
      <add key="TraceTimeout" value="150" />
      <!--是否开启Framework的内部异常记录-->
      <add key="EnbleInternalLog" value="true" />
      <!--是否将Framework的内部异常抛给应用程序-->
      <add key="ThrowInternalError" value="true" />
      <!--是否将Sql DataCommand异常抛给应用程序-->
      <add key="ThrowSqlError" value="true" />
      <!--修改成你的站点在ET系统里面注册的名称-->
      <add key="ErrorTracker_SiteName" value="uoko.sso" />
      <!--记录日志使用的Queue通道Label名-->
      <add key="ErrorInfo" value="ErrorInfo" />
      <add key="TraceInfo" value="TraceInfo" />
      <!--默认Memcache分组-->
      <add key="CacheGroupName" value="Default" />
      <!--一般情况下这里设置false，当et里面没有接受到异常时候可以开启-->
      <add key="LocalLog" value="true" />
      <!--默认的Api网站域名 上线：http://api.rd.zpidc.com/-->
      <!--<add key="WebSiteDomain" value="http://localhost:5163/" />-->
      <!--强制指定远程配置的下载目录-->
      <!--<add key="FrameworkConfigRoot" value="c:\UOKO.configs" />-->
      <!-- RemoteConfig-->
      <!--远程配置，请设置为你的应用对应的远程配置的名称-->
      <add key="FrameworkConfigName" value="uoko.sso" />
      <!--远程配置环境，上线时候设置成Production-->
      <add key="FrameworkEnvironment" value="Testing" />
      <!-- <add key="FrameworkEnvironment" value="Development" />
    <add key="FrameworkEnvironment" value="Testing" />
    <add key="FrameworkEnvironment" value="Labs" />
    <add key="FrameworkEnvironment" value="Production" />-->
      <!-- Applocation Name -->

    </providers>
  </FrameworkProvider>
</configuration>